import slick-carousel/slick/slick.css
import slick-carousel/slick/slick-theme.css

body {
  margin: 0;
  font-family: 'Manrope';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Bold.woff") format("woff");
  font-style: normal;
} */

.banner-text {
  font-family: "Manrope", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}